@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'san-serif';
    color: #fff;
    background-color: #191627;
    line-height: 1.6;
}

h1 {
    margin: 20px 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6E57E0;
}


.container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    height: 100vh;
}

.left {
  padding: 6rem 0;
  background-color: #100E1B;
  color: #fff;
  text-align: center;
  margin-left: -2rem;
}

.left-container ul {
  justify-content: space-around;
  padding: 2rem 0;
}

.left-container li {
  padding: .50rem;
  font-size: 1rem;
}

.logout-btn {
  bottom: 0;
}

.right {
    background-color: #191627;
    color: #fff;
}

.right-container {
    padding: 6rem;
}

.right-container h1 {
    line-height: .2;
    /* color: #a8a8ac; */
}

.blogs-title {
    margin: 3rem 0;
}

.right-container .hello-text {
    padding-bottom: 2rem;
}

/*- BLOG SECTION -*/

.main {
    background: #1a212d;
    padding: 5rem 0;
    width: 100%;
  }
  
  .blog .h2 {
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .blog-card-group { margin-bottom: 3rem; }
  
  .blog-card {
    background: #211D35;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
  }
  
  .blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
  }
  
  .blog-card-banner { display: none; }
  
  .blog-content-wrapper { padding: 10px 5px; }
  

  .btn {
    background: #413A67;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .btn:hover {
    background: inherit;
    border: 1px solid #fff;
    color: #6E57E0;
  }

  .btn-edit, .btn-delete{
      padding: .5rem 5rem;
  }

  .btn-edit {
      background-color: #cc7421;
  }

  .btn-delete {
    background-color: #db3737;
}
  
  
  .blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  
  .blog-card .h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  .blog-text,
  .profile-wrapper { display: none; }
  
  .blog .wrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    gap: 15px;
  }
  
  
  .blog .text-sm {
    display:     flex;
    align-items: center;
    gap: 5px;
  }
  
  .blog .separator {
    margin: 0 3px; /* fallback for margin-inline */
    width:  3px;
    height: 3px;
    border-radius: 3px;
  }
  
  .blog ion-icon { --ionicon-stroke-width: 50px; }
  

  /* MESSAGE STYLES */
.message-card {
    background: #211D35;
    width: 700px;
    padding: 10px;
    margin: 3rem 8rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
  }

  .messages-heading {
      padding: 2rem 8rem;
      border-bottom: 2px solid #fff;
  }
  
  .message-content {
    margin: 20px;
  }


  /* NEW POST STYLES */
  .contact__form {
    width: 80%;
}

.contact__content {
    width: 800px;
    background-color: #211D35;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    text-align: center;
    margin: 1rem auto;
}

.new-post--heading {
    padding: 2rem 5rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 3rem;
}

.contact__label {
    font-weight: bold;
    color: white;
}

.contact__input {
    width: 100%;
    text-align: center;
    background-color: #211D35;
    color: white;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.contact__content button {
    background-color: #6E57E0;
    border: none;
}

.submit__btn {
    background-color: #6E57E0;
    width: 500px;
    border-radius: 2rem;
}

.submit__btn a {
    color: white;
    text-decoration: none;
    border: none;
}

@media (max-width: 698px) {
    .container {
        grid-template-columns: 100%;
    }

    .right {
        text-align: center;
        height: 100vh;
    }

    .left {
        height: 22vh;
        padding: .2rem;
    }

    .left-container {
        display: grid;
        text-align: center;
    }

    .left-container ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .left-container li {
        /* padding: 1rem .75rem; */
        font-weight: bold;
    }

    .right-container {
        padding: 0;
    }

    .btn-edit, .btn-delete {
      padding: .5rem 3rem;
    }

    .wrapper-flex {
      padding: 1rem 3rem;
      display: flex;
      justify-content: space-between;
    }

    /* NEW POST MEDIA QUERIES */
    .contact__form {
        width: 100%;
    }

    .contact__content {
        width: auto;
        margin: 1rem;
    }


    /* MESSAGES MEDIA QUERIES */
    .message-card {
        width: auto;
        margin: 1rem;
      }

      .messages-heading {
          width: auto;
          font-size: 1rem;
          line-height: 1.4;
      }
}


/*- MEDIA QUERIES -*/

/**
 * responsive for larger than 550px screen
 */

 @media (min-width: 550px) {

    :root {

  /*typography  */
  
      --fs-base: 0.90rem;
  
    }
  
  
    /* BLOG */
  
    .blog-card {
      display: grid;
      grid-template-columns: 3fr 4fr;
      gap: 20px;
    }
  
    .blog-card-banner {
      display: block;
      overflow: hidden;
      border-radius: 5px;
    }
  
    .blog-banner-img {
      width:  100%;
      height: 100%;
      object-fit: cover;
    }
  
  }
  
  /* responsive for larger than 650px screen */
 @media (min-width: 650px) {
  
    :root {
  
      /* typography */
      --fs-1: 2.25rem;
  
    }

    /* REUSED STYLE  */
  
    .container { padding: 0 30px; }
  
    /* HEADER  */
  
    .navbar { padding: 30px 0; }
  
    /* BLOG */
  
    .blog .h2 {
      position: relative;
      text-align: left;
    }
  
    .blog .h2::before {
      content: '';
      position: absolute;
      top:  0;
      left: 0;
      background: var(--action-primary);
      width:  5px;
      height: 100%;
      border-radius: 5px;
    }
  
    .blog-text,
    .profile-wrapper { display: block; }
  
    .blog-text {
      color: var(--foreground-secondary);
      font-size: var(--fs-4);
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  
    .blog .wrapper-flex {
      display:         flex;
      justify-content: start;
      align-items:     center;
      gap: 10px;
    }
  
    .blog .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  
  
  }
  
  
  /* responsive for larger than 768px screen */
  
  @media (min-width: 768px) {
    /* REUSED STYLE  */
  
    .container { max-width: 800px; }
  
  }
  
  
  /* responsive for larger than 1024px screen */
  @media (min-width: 1024px) {
  
    :root {
  
      /** typography  */
      --fs-base: 1rem;
      --fs-1: 3rem;
  
    }
  
    /* REUSED STYLE */
  
    .container { max-width: 1150px; }
  
    /* HEADER */
  
    header .btn-group { display: none; }
  
    header .flex-wrapper {
      display: flex;
      gap: 30px;
    }
  
    .desktop-nav {
      display:     flex;
      align-items: center;
      gap: 30px;
    }
  
    /* MAIN  */
  
    .main .container {
      display: grid;
      grid-template-columns: 5fr 2fr;
      gap: 60px;
    }
  
  }